<div class="border-class">
    <div class="jumbotron text-center">
        <h1 class="style-title">View Posts By Post ID Here</h1>
        <p class="style-sub-title">To search by Post ID enter the Post ID and click on 'Search'</p>

        <form #form="ngForm" (ngSubmit)="searchPost()">
            <div class="form-group row">
                <div class=" col-md-4">
                    <label for="postId" class="cust-label">Enter Post Id</label>
                </div>
                <div class=" col-md-4">
                    <input type="text" class="form-control" id="postId" name="postId" [(ngModel)]="data.postId">
                </div>
                <div class=" col-md-4">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>
            </div>


        </form>
    </div>

    <div *ngIf="posts">
        <div class="container">
            <div class="row">
                <div class="col-12 card">
                    <div class="card-header">
                        {{posts.title}}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>User ID: {{posts.userId}}</p>
                            </div>
                            <div class="col-md-6">
                                <p>ID: {{posts.id}}</p>
                            </div>
                        </div>
                        <p> {{posts.body}} </p>
                        <button (click)="showComments()" class="btn btn-success">View Comments</button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="showCommBool">
            <div class="container cnt-mrg">
            <div class="row">
                <form #form="ngForm" (ngSubmit)="searchComment()">
                    <div class="form-group row">
                        <div class=" col-md-3">
                            <label for="email" class="cust-label">Email</label>
                            <input type="email" class="form-control" id="email" name="postId" [(ngModel)]="searchData.email">
                        </div>
                        <div class=" col-md-3">
                            <label for="name" class="cust-label">Name</label>
                            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="searchData.name">
                        </div>
                        <div class=" col-md-3">
                            <label for="body" class="cust-label">Body</label>
                            <input type="text" class="form-control" id="body" name="body" [(ngModel)]="searchData.body">
                        </div>
                        <div class="col-md-3 button-al">
                            <button type="submit" class="btn btn-success">Search Comment</button>
                        </div>
                    </div>  
        
                </form>                    
            </div>
        </div>
        <div *ngIf="!notSearched else afterSearch">
            <div *ngFor="let comment of comments">
                <div class="container cont-style">
           
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                        <div class="card-header">
                            {{comment.name}}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>POST ID: {{comment.postId}}</p>
                                </div>
                                <div class="col-md-6">
                                    <p>ID: {{comment.id}}</p>
                                </div>
                            </div>
                            <p>{{comment.email}}</p>
                            <p> {{comment.body}} </p>
                        </div>
                    </div>
                    </div> 
                </div>


            </div>

            </div>
            </div>
            <ng-template #afterSearch>

                <!-- <div *ngFor="let comment of searchedComm"> -->
                    <div class="container cont-style">
               
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                            <div class="card-header">
                                {{searchedComm.name}}
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p>POST ID: {{searchedComm.postId}}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p>ID: {{searchedComm.id}}</p>
                                    </div>
                                </div>
                                <p>{{searchedComm.email}}</p>
                                <p> {{searchedComm.body}} </p>
                            </div>
                        </div>
                        </div> 
                    </div>
    
    
                </div>
    
                <!-- </div> -->

            </ng-template>
        </div>

    </div>




</div>